@use '@carbon/react';
@use '@carbon/react/scss/breakpoint' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.cds--popover {
  display: none !important;
}

.cds--cc--grid rect.chart-grid-backdrop {
  fill: transparent !important;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl {
  display: none !important;
}

@layer base {
  .layout {
    @apply w-[95%] xl:w-[90%] mx-auto max-w-[1440px];
  }
  .layout-xs {
    @apply w-[95%] mx-auto max-w-[760px];
  }
}

canvas, .cds--data-table-content {
  z-index: 0 !important;
}

.homepage-banner {
  background: url('/homepage-banner.png') no-repeat bottom right;
  background-size: cover;
}

.tokenPage {
  * {
    z-index: inherit;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll linear infinite;
}
